{% extends 'base.html.twig' %}

{% block title %}Book{% endblock %}

{% block body %}
<main class="container">
    <h1 class="text-center mt-5 mb-5">La Librairie du bonheur</h1>

</main>
{% endblock %}
